---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: ghcr.io/cloudfoundry/bosh/golang-release-security-scanner

inputs:
- name: input_repo
- name: version
- name: golang-release
- name: release-notes
  optional: true

outputs:
- name: patched_cves
- name: release-notes

run:
  path: golang-release/ci/tasks/shared/check-for-patched-cves.sh

params:
  GIT_PRIVATE_KEY:
  SEVERITY: CRITICAL,HIGH,MEDIUM,LOW,UNKNOWN
  SOURCE_PATH:
