---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: ghcr.io/cloudfoundry/bosh/cli

inputs:
- name: golang-1.26
- name: golang-1.25
- name: golang-release
- name: stemcell

outputs:
- name: golang-release
  path: bumped-golang-release

run:
  path: golang-release/ci/tasks/bump.sh

params:
  PRIVATE_YAML: ~
